# Core functionality - changes here should be rare!
/src/app.py                   @prasana549
/src/backend/database.py      @prasana549
/src/backend/routers/auth.py  @prasana549

# The frontend will need refactored soon to be more object oriented.
/src/static/                  @prasana549
